body {
		background-color: #F8F8FA;
}
h1 {
	padding-top: 30px;
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 5px;
	text-align: center;
}
/*anchor to makesure the Navbar doesn't overlap the sections*/
.anchor {
	display:block;
	height:90px;
	margin-top: -90px;
	visibility: hidden;
}
/*Navigation bar*/
.navbar {
	height: 90px;
	background-color: #050505;
	border-radius: 0;
	margin:0;
	position: fixed;
	width:100%;
	z-index: 5;

	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bolder;
	padding: 0 !important;
}
.navbar > div > ul {
	padding-left: 35px;
}
.navbar > div > ul > li {
	padding: 15px 15px 0 15px;
}
.navbar-collapse {
	background-color: #050505;
}
/*Five10 heading*/
.title {
	font-size: 50px;
	color: #fff;
	font-weight: bolder;
	letter-spacing: 24px;
	padding-left: 20px;
}
.navbar > div > ul > li > a {
	color:white;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 7px;

}
/*Carousel*/
.carousel {
	padding-top: 90px;
	z-index: 0;
	background-color: #050505;
}
.carousel-inner {
	max-height: 800px;
}
.carousel-inner img{
	max-height: 800px;
}

/*About Us Section*/
.about-us {
	min-height: 300px;
	text-align: center;
}
.about-us p {
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 0 100px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 20px;
}
/*Media Section*/
.media {
	height: 1100px;
	text-align: center;
}
.media img {
	height: 275px;
	width: 250px;
	margin-top: 40px;
}
/*Artists Section*/
.artists {
	height: 660px;
	text-align: center;
	background-color: #B8B8B8;
	color:black;
	font-weight: bolder;
	background-image: url("../img/screen.png");
}
.artists p {
	padding-top: 8px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bolder;
	font-size: 18px;
	display: inline-block;
}
.djname {
	letter-spacing: 4px;
}
.artists p img {
	height: 1.2em;
	padding: 0 3px;
	margin-top: -30px;
}
.profile {
	margin-top: 20px;
	height:140px;
	width: 140px;
	border-radius: 50%;
	border: solid 2px white;
	box-shadow: 1.5px 1.5px 1.5px black;
}
/*Events Section*/
.events {
	height: 500px;
}
.events .row {
	padding: 30px 0;
}
.box {
	height: 325px;
	width: 200px;
	background-color: #FFF;
	border-top: 0.5px solid #DFDFE1;
	border-bottom: 0.5px solid #DFDFE1;
	margin: 0 auto;
	box-shadow: 1px 1px 1px #888888;
	font-weight: bolder;
}
.box p {
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 1px;
	padding-left: 5px;
	font-size: 15px;
	font-weight: bolder;
}
.box hr {
	margin-top: -3px;
}
.second {
	margin-top: -13px;
}
.events img {
	height: 200px;
	width: 200px;
}
/*Footer*/
footer 	{
	min-height: 150px;
	background-color: #050505;
	color: white;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 3px;
}
footer p {
	padding-top: 60px;
	padding-left: 80px;
	position: absolute;
}
footer ul {
	float: right;
	list-style: none;
	padding-top: 60px;
	padding-right: 80px;

}
footer ul li {
	display: inline-block;
	padding: 0 15px;
}
footer ul li a {
	text-decoration: none;
}
footer .fa {
	color: white;
	font-size: 30px;
}
/*For animation to begin when scrolled to*/
.col-md-3 {
	opacity: 0;
}
.col-md-4 {
	opacity: 0;
}
.visible {
	opacity: 1 !important;
}
/*Responsive Design*/
@media (max-width: 1200px) {
	.carousel-inner {
		height: 600px;
	}
	.carousel-inner img{
		height: 600px;
	}
	.media {
		height: 900px;
	}
	.media img {
		height: 225px;
		width: 200px;
	}
	.box {
		height: 300px;
		width: 175px;
	}
	.events img {
		height: 175px;
		width: 175px;
	}
	.box p {
		font-size: 13px;
	}

}
@media (max-width: 991px) {
	.navbar > div > ul > li {
		padding: 0 0 3px 15px;
	}
	.navbar > div > ul > li > a {
		font-size: 16px;
	}
	.media {
		height: 750px;
	}
	.media img {
		height: 190px;
		width: 160px;
	}
	.events {
		height: 450px;
	}
	.box {
		height: 250px;
		width: 150px;
	}
	.events img {
		height: 150px;
		width: 150px;
	}
	.box p {
		font-size: 11px;
	}
}
@media (max-width: 767px) {
	.navbar > div > ul > li > a {
		font-size: 12px;
	}
	.carousel-inner {
		height: 400px;
	}
	.carousel-inner img{
		height: 400px;
	}	
	.about-us p {
		font-size: 14px;
	}
	.media {
		height: 2900px;
	}
	.media img {
		height: 400px;
		width: 350px;
		margin-top: 5px;
	}
	.media3 {
		display: none;
	}
	.media7 {
		display: none;
	}
	.media9 {
		display: none;
	}
	.media11 {
		display: none;
	}
	.media12 {
		display: none;
	}
	.events {
		height: 700px;
	}
	.box {
		margin-top: 20px;
	}
}
@media (max-width: 485px) {
	h1 {
		font-size: 24px;
	}
	.anchor {
		height: 50px;
		margin-top: -50px;
	}
	.navbar {
		height: 50px;
	}
	.navbar > div > ul > li > a {
		font-size: 10px;
	}
	.text-white {
		font-size: 24px;
	}
	.carousel {
		padding-top: 50px;
	}
	.carousel-inner {
		height: 300px;
	}
	.carousel-inner img{
		height: 300px;
	}
	.about-us p {
		padding: 0 30px;
	}
	.media {
		height: 2000px;
	}
	.media img {
		height: 275px;
		width: 250px;
	}
	.profile {
		height: 120px;
		width: 120px;
	}
	.artists p {
		font-size: 14px;
	}
	.artists {
		height: 575px;
	}

	.fa-instagram {
		display: none;
	}
	.fa-twitter-square {
		display: none;
	}
	.fa-envelope-o {
		display: none;
	}
	footer p {
		padding-left: 40px;
	}
	footer ul {
		padding-right: 0;
	}
	footer ul li {
		padding-right: 0;
	}
}